@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

// COLORS

// Primary Colors

$primary-clr-pink: hsl(322, 100%, 66%);

// Neutral Colors

$neutral-clr-cyan-100: hsl(193, 100%, 96%);
$neutral-clr-cyan-900: hsl(192, 100%, 9%);
$neutral-clr-grayblue: hsl(209, 52%, 56%);

// FONTS

$ff-heading: 'Poppins', sans-serif;
$ff-main: 'Open Sans', sans-serif;